.profile__avatarBox {
    display: block;
    position: relative;
    margin-right: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 890px) {
    .profile__avatarBox {
      margin-right: 0;
      margin-bottom: 26px;
    }
  }

.profile__avatarBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    opacity: 0; }

.profile__avatarBox:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../../images/setAvatarButton.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0; }

.profile__avatarBox:hover:before,
.profile__avatarBox:hover:after { opacity: 1; }