.profile__titleBox {
  display: grid;
  grid-template-areas:
  "title editButton"
  "subtitle subtitle";
  margin-right: 20px;
  align-items: baseline;
}

@media screen and (max-width: 890px) {
  .profile__titleBox {
    margin: 0 19px;
  }
}